@import "tailwindcss" source("../src");
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-backdrop: oklch(14.7% 0.004 49.25);
	--color-light-gray: oklch(80% 0 0);
	--color-dark-gray: oklch(70% 0 0);
	--color-theme-main: oklch(54% 0.2 28);
	--color-theme-light: oklch(68% 0.2 28);

	--font-body: 'AlbertSans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/** Safari font weight fix */
body {
	font-synthesis: none !important;
}
